go 1.22.0

use (
	./services/ai
	./services/auth
	./services/calls
	./services/chat
	./services/gateway
	./services/music
	./services/pkg
	./services/proto
	./services/push
	./services/realtime
	./services/user
)
