go 1.22.0

use (
	./services/aiservice
	./services/authservice
	./services/callsservice
	./services/chatservice
	./services/gatewayservice
	./services/musicservice
	./services/pkg
	./services/proto
	./services/pushservice
	./services/realtimeservice
	./services/userservice
)